@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --DarkCyan:hsl(185, 75%, 39%);
   --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
   --DarkGrayishBlue:hsl(227, 10%, 46%);
   --DarkGray: hsl(0, 0%, 59%);
   --FontKumbhSans: 'Kumbh Sans';
}

body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    background-color: var(--DarkCyan);
   font-family: var(--FontKumbhSans);
   gap: 1rem;
   position: relative;
   overflow: hidden;
}

/* background img */
.bg-top{
   position: absolute;
   background-image: url('./images/bg-pattern-top.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 600px;
   height: 600px;
   top: -40%;
   left:-70%
}

.bg-bottom{
 position: absolute;
 background-image: url('./images/bg-pattern-bottom.svg');
 background-size: contain;
 background-repeat: no-repeat;
 width: 600px;
 height: 600px;
 bottom:-40%;
 right: -70%;
}


main{
   max-width: 300px;
   width: 100%;
   height: 330px;
   border-radius: 10px;
   
   z-index: 1;

   background-image: url('./images/bg-pattern-card.svg');
   background-position: top;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: #fff;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 0.8rem;
   margin-top: 4rem;
}

.profile img{
   border-radius: 100px;
   border: 5px solid #fff;
}


.info{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   font-size: 1.2em;
   margin-bottom: 0.5rem;
}

.info > div{
   display: flex;
   gap: 0.5rem;
}

.info .profile-name{
   font-weight: 700;
   color: var(--VeryDarkDesaturatedBlue);
   opacity: 0.9;
}

.info .age{
   color: var(--DarkGray);
}

.place{
   color: var(--DarkGray);
   font-size:small;
}


hr{
   background-color: var(--DarkGray);
   height: 1px;
   width: 100%;
   opacity: 0.2;
}

.profile-data{
   display: flex;
  gap: 2rem;
   line-height: 1.5rem;
}

.profile-data div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-data h3{
   color: var(--VeryDarkDesaturatedBlue);
   font-size: medium;
   font-weight: 700;
}

.profile-data p{
   color: var(--DarkGray);
   font-size: x-small;
   letter-spacing: 0.1rem;
   font-weight: 600;
}

@media screen and (min-width:768px) {
  

/* background img */
.bg-top{
   width: 900px;
   height: 900px;
   top: -65%;
   left:-20%;
}

.bg-bottom{
 width:900px;
 height: 900px;
 bottom:-85%;
 right: -15%;
}
}